.developer-profile-card-3 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 400px;
  border: none;
}
.developer-profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.developer-profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.developer-profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.developer-profile-card-3 .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}
.developer-profile-card-3 .developer-profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 99999;
}
.developer-profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}
.developer-profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}
.developer-icons-container .developer-icon-linkedin,
.developer-icons-container .developer-icon-phone,
.developer-icons-container .developer-icon-email
{
  width: 32px;
  height: 32px;
}
.developer-icons-container .developer-icon-linkedin:hover svg,
.developer-icons-container .developer-icon-linkedin:active svg,
.developer-icons-container .developer-icon-phone:hover svg,
.developer-icons-container .developer-icon-phone:active svg,
.developer-icons-container .developer-icon-email:hover svg,
.developer-icons-container .developer-icon-email:active svg 
{
  fill: #fff;
  transition: all 0.5s ease-out;
}
.developer-icons-container .developer-icon-linkedin:hover,
.developer-icons-container .developer-icon-linkedin:active {
  background-color: #0d6efd;
  transition: all 0.5s ease-out;
}
.developer-icons-container .developer-icon-email:hover,
.developer-icons-container .developer-icon-email:active {
  background-color: #cc324b;
  transition: all 0.5s ease-out;
}
.developer-icons-container .developer-icon-phone:hover,
.developer-icons-container .developer-icon-phone:active {
  background-color: #016269;
  transition: all 0.5s ease-out;
}
