.selectInputStyle{
    height: 50px;
    background: var(--grey-dark);
    color: #9aafff;
    border: 1px solid var(--blue-dark);
}
.selectInputStyle:focus {
    outline: none;
    font-size: 1.2rem;
    color: white;
    background: var(--grey-dark);
    border-color: #9c95ff;
    box-shadow: none;
}
.label {
    color: #c8f3c1;
    font-size: 1.2rem;
}